.categories-container {
  width: 1277px;
  margin: 34px 86px 0;

  //carousel
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  scroll-behavior: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overflow-y: auto;
}
