header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6px 56px 0;
  font-size: 12px;

  .header-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 119px;

    font-weight: 500;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;

      span {
        color: #f71963;
        font-weight: 600;
      }
    }
  }

  .header-main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 56px;
    margin: 6px 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

    .header-search {
      width: 657px;
      height: 48px;
      position: relative;

      overflow: hidden;
      border-radius: 10px;

      input {
        width: 100%;
        height: 100%;
        background: #f7f5f2;
        border: none;

        padding: 0 0 0 34px;
        border-radius: 10px;

        &::placeholder {
          color: #9f9f9f;
        }
      }

      button {
        position: absolute;
        top: 10px;
        right: 10px;

        cursor: pointer;
        border: none;
        background: transparent;
      }
    }

    .header-menu-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
  }

  nav {
    font-weight: 600;
    text-transform: uppercase;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 91px;

      list-style: none;

      li {
        text-align: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          text-decoration: none;
          color: #9f9f9f;

          &:hover {
            color: #f71963;

            svg {
              path {
                stroke: #f71963;
              }
            }
          }
        }
      }
    }
  }
}
