.related-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .related-top {
    height: 49px;
    padding: 39px 0 0 0;
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: center;

    .related-bar {
      width: 360px;
      border: 1px solid #dedede;
    }

    p {
      font-weight: 700;
      font-size: 30px;
      color: #f71963;
      line-height: 45px;
    }
  }

  .related-filter {
    max-width: 1280px;
    padding: 0;

    ul {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;

      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;

      li {
        list-style: none;
        width: 211.5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #bdbdbd;

        a {
          color: #3b3b3b;
          text-decoration: none;
        }

        &:hover,
        &.active {
          a {
            font-weight: 700;
            color: #f71963;
          }
        }
      }
    }
  }

  .related-short-filter {
    margin: 0 0 32px 0;
    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #3f3f40;
    }
  }

  .related-carousel {
    width: 100%;
  }
}
