.banner {
  width: 574px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .banner-overlay {
    position: absolute;
    width: 100%;
    height: 284px;
    left: 0;
    bottom: 10px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 0px 0px 20px 20px;
  }

  .banner-infos {
    z-index: 10;
    position: absolute;
    width: 100%;
    left: 40px;
    top: 114px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      margin: 0;
      font-weight: 700;
      font-size: 40px;
      color: #ffffff;
    }

    span {
      width: 180px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    button {
      width: 131px;
      height: 48px;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }
}
